@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}

#backgroundImage{
    position: absolute;
    z-index: -5;
    width: 100vw;
    height: 180vh;
    filter: blur(9px);
    transform: scale(1.1);
}

.topBar{
    width: 100vw;
    height: 6vh;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.barPart{
    width: 32vw;
    height: 6vh;
    /* background-color: blue; */
}

#logoImg{
    height: 6vh;
}

.mediaButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    gap: 0.5vw;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* transition: .2s; */
}

.mediaButton img{
    width: 1vw;
}

.mediaButton:hover{
    text-decoration: underline;
    text-decoration-color: #4483EB;
}

#topBarLeft{
    width: 15vw;
}

#topBarMid{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#topBarRight{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topBarRight button{
    /* background-color: blue; */
    border: none;
    border-radius: 5px;
    /* border: 2px solid #fff; */
    background-color: #4483EB;
    color: #fff;
    padding: 1vh 1vw 1vh 1vw;
    font-size: large;
}

#topBarRight button:hover{
    cursor: pointer;
}

.firstContent{
    width: 90vw;
    /* background-color: red; */
    height: 85vh;
    padding-top: 9vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.firstTop{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10vh;
    /* background-color: blue; */
}

.firstDown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fd{
    width: 40vw;
    /* background-color: blue; */
}

.firstDownLeft{
    color: #fff;
    width: 30vw;
    line-height: 180%;
    text-shadow: 2px 2px 0px black;
    font-size: 1.2rem;
    /* letter-spacing: 1.2px; */
    /* font-weight: 100; */
    /* background-color: red; */
}

.firstDownLeft p{
    font-family: 'Poppins', sans-serif;
}

.firstDownLeft h2{
    font-family: 'Poppins', sans-serif;
}

.firstDownLeft h3{
    font-family: 'Poppins', sans-serif;
}

.firstDownRight{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
}

.firstDownRight video{
    width: 45vw;
    border-radius: 15px;
}

bold{
    font-weight: bold;
}

bold2{
    font-weight: bold;
    background-color: #4483EB50;
    padding: .5vh .5vw .5vh .5vw;
    border-radius: 10px;
}

#bookmarkButton{
    /* background-color: red; */
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    text-shadow: none;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: xx-large;
}

#clickForProof{
    cursor: pointer;
}

.secondContent{
    /* background-color: red; */
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.secondLeft{
    /* background-color: blue; */
    width: 60vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.secondRight{
    width: 36vw;
    /* background-color: #4483EB; */
    border-left: 2px solid #fff;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.slideShow{
    /* background-color: red; */
    width: 46vw;
    height: 50vh;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: 100% 100%;
    transition: .5s;
    border-radius: 5px;
}

#counter{
    position: absolute;
    top: 147%;
    color: #fff;
    left: 30%;
    font-size: large;
    font-weight: bold;
}

.slideButton{
    font-size: 2rem;
    color: #fff;
    transition: .1s;
}

.slideButton:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.reviews{
    margin-top: 5vh;
    /* background-color: red; */
    /* padding-left: 10vw; */
    width: 50vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.review{
    /* border: 2px solid black; */
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 15vw;
    height: 12vh;
    color: #fff;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.reviewScore img{
    width: 1vw;
}

.nPlusScore{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.box{
    width: 14vw;
    padding: 2vw;
    /* background-color: blue; */
    height: 27vh;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

footer{
    /* background-color: red; */
    text-align: center;
    color: #fff;
}